<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style_mainpage.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
    </style>
    <style>
        ::selection {
            background-color: #ec9119;
            color: rgb(31, 109, 182);
        }
    </style>
</head>
<body>
    <section class="container">
        <div class="can">
            <a href="/show">
                <img style="max-width : 100%; height: auto;"
                src="https://drive.google.com/uc?export=view&id=1XPqXNax--T6nAXqtWfhZI2Awo5X_2E-i">
            </a>
        </div>
        <div class='go_to_show'>
            &nbsp&nbsp&nbsp Are you thirsty?
        </div>
    </section>
</body>
</html>